:root {
    --custom-color-1: #F29BDB;
    --custom-color-2: #F199F2;
    --custom-color-3: #F2B441;
    --custom-color-4: #F2A649;
    --custom-color-5: #260101;
    --custom-color-6: #ffffff;
    --font-family-1: 'Fredoka', sans-serif;;
    --font-family-2: 'Quicksand', sans-serif;
    --font-family-3: 'Solway', serif;
}
/* adding custom color from the brand color pallete */

.skip-links{
    margin: auto;
    padding: 0px;
}
/* styling skip links for the accessibility */

.skip-links li{
    list-style: none;
}
/* removing the list style from skip links */
.skip-links a{
    position: absolute;
    top: -100px;
    font-size: 20px;
    text-decoration: none;
    background-color:var(--custom-color-2);
    font-family:var(--font-family-3);
    color: var(--custom-color-5);
    padding: 15px;
    font-weight: bold;
}
/* styling skip links content to match the website concept */

.skip-links a:focus{
    top: 0;
}

/* making the skip links accessible when using keyboard */

.announcement-bar{
    background-color: var(--custom-color-4);
    text-align: center;
    font-family:var(--font-family-3);
    font-weight: bold;
    padding: .5rem;
    width: 100%;
    margin: 0 auto;
}
/* styling the announcement bar on the top of the website */

nav{
    width: 100%;
    margin: 0 auto;
}

/* making the nav responsive */

header{
    width: 100%;
    margin: 0 auto;
}
/* making the header responsive */

.logo img{
    width: 10rem;
    height:9rem;
}
/* sizing the logo on navbar */

#navbar{
    background-color:var(--custom-color-5);
    display: flex;
    justify-content:flex-start;
    margin: 0 auto;
}
/* styling and placing the elements on the navigation */

#navbar-links{
    display: flex;
    padding-left: 0px;
    margin-top: .5rem;
}
/* displaying the links in a horizontal line */

#navbar-links li{
    list-style-type: none;
    padding: .5rem;
}
/* styling the links of navbar */
#navbar-links a{
    text-decoration: none;
    font-family: var(--font-family-3);
    color: #F199F2;
    font-size: 25px;
    font-weight: 450;
}
/* styling the links of the navbar */

.icons img{
    padding-right:.5rem;
    padding-left: .5rem;
}
/* sizing the img icons*/

.icons img:last-child{
    width: 1.8rem;
    height: 1.7rem;
}
/* sizing the search image */

.icons{
    padding: .8rem;
    margin-left: 26.4rem;
}
/* spacing the icons */

.header-banner img{
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
}
/* making header adjustive and responsive */

.header-container{
    width: 100%;
    margin: 0 auto;
}
/* making the container responsive */

picture{
    display: none;
}
/* enabling the display of picture due to displaying it twice */
.header-heading{
    display:flex;
    flex-flow:column;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    margin-top: 7rem;
}
/* styling the heading */

.header-heading h1{
    margin-top:-1rem;
    width: 100%;
    margin: 0 auto;
}
/* spacing and making the heading area responsive */

main{
    width: 100%;
    margin: 0 auto;
}
/* making main section responsive */

#shop{
    background-color: var(--custom-color-2);
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3,.28fr);
    margin-top: 1.5rem;
    justify-content:center;
    align-items:center;
}
/* displaying grid for placing the elements in the section as required */

.shop-heading h1{
    font-family: var(--font-family-3);
    text-align: center;
}
/* styling the heading of the shop */

.shop-content img{
    width: 12rem;
}
/* sizing the image */

table{
    display:grid;
    grid-template-columns: repeat(3,2fr);
    justify-content:center;
    align-items:center;
}
/* locating the elements as required */

td{
    padding-left: 7rem;
    padding-right: 7rem;
}
/* spacing the data evenly */

.card-name td{
    font-family: var(--font-family-3);
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--custom-color-5);
}
/* styling the elements */
.card-price td{
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    text-align: center;
    font-size: 1.2rem;
}
/* styling the elements */
button{
    background-color:var(--custom-color-4);
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    font-weight: 600;
    font-size: 1.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    border: none;
}
/* styling and sizing the button */

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* adjusting the location of the button */

#customer{
    width: 100%;
    margin: 0 auto;
}
/* making the space responsive */
#customer h1{
    margin-top: 2rem;
    text-align: center;
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    font-weight: 500;
    font-size: 1.8rem;
}
/* styling and adjusting the heading */

.customer-image img{
    width: 22rem;
    height: 14rem;
    margin: 1rem;
}
/* sizing the image */

.customer-comment{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* for locating the elements as required */

.left-arrow{
    align-self: center;
    margin-left: 22rem;
}
/* adjusting it in the section */

.right-arrow{
    align-self: center;
    margin-right: 22rem;
}
/*/* adjusting it in the section */
.customer-content{
    margin-top: 2rem;
    font-family: var(--font-family-3);
}
/* styling and adjusting the content */

.footer-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-content: space-between;
    
}
/* locating the elements in footer as required */

footer{
    background-color: var(--custom-color-5);
    padding-bottom: 8rem;
    margin-top: 5rem;
    position: relative;
    width: 100%;
}
/* styling and adjusting the footer content */

footer li{
    font-family: var(--font-family-3);
    color: var(--custom-color-1);

}
/* styling the content of the footer */

.list-1{
    margin-bottom: 4rem;
}
/* spacing the elements  */

.list-2{
    margin-bottom: 4rem;
}
/* spacing the elements  */
.social-media{
    display: flex;
    margin-left: 4rem;
    width:3rem;
    height: 3rem;
    padding-left: 1rem;
    margin-bottom: 5rem;
}
/* adjusting the spacing bewtween the icons */
.social-media img{
    padding-left: .3rem;
}
/* spacing the image */

.footer-icons{
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: space-around;
    align-items:center;
}
/* locating the icons as required(displaying it vertically) */

.footer-icons img{
    width: 2.5rem;
    padding: .5rem;
    margin-left: 12rem;
}
/* sizing the icons */
.footer-content ul li{
    position: relative;
    margin-right: 4rem;
    padding-top: 1.8rem
}
/* spacing the elements */
.copyright{
    color: var(--custom-color-1);
    font-family: var(--font-family-3);
    text-align:right;
    margin-right: 2rem;
    position:absolute;
    bottom: 0;
    right: 0;
    border-top: .3rem solid var(--custom-color-3);
    padding-left: 65rem;
}
/* styling and spacing the copyright */

.back-to-top img{
    width: 5rem;
    margin-top: 2rem;
}
/* sizing and adjusting the image */


/* ------------------------------------------------ABOUT US--------------------------------------------------*/

#our-story h1{
    text-align: center;
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    font-size: 3rem;
}
/* Styling for the #our-story section */

#our-story img{
    width: 70rem;
    margin-left: 4rem;
}
/* Set image width and spacing for the image*/

#our-story p{
    font-family: var(--font-family-3);
    font-weight: 350;
    margin-left: 5rem;
    margin-right:5rem;
    text-align: center;
    font-size: 1.3rem;
}
/* styling the content of our-story and adjusting as required */

picture{
    display: none;
}
/* 
/* Hide the 'picture' element (used for responsive images) */

#blog h1{
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    text-align: center;
    font-size: 3rem;
}
/* Styles for the #blog section */
#blog img{
    width: 70rem;
    margin-left: 4rem;
}
/* Set image width and spacing for the image*/
.blog-2{
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    text-align: center;
    margin-top: 4rem;
}
/* styling for elements with the class 'blog-2' */


/* --------------------------------------CONTACT------------------------------------------------------ */
.contact-box{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    justify-content:flex-start;
    margin:0 auto;
    align-items:flex-start;
    width: 70rem; 
    height: 30rem; 
    background-color:var(--custom-color-2); 
    border: 3px solid var(--custom-color-5);  
    padding: 1rem; 
}
/* Styling for the .contact-box section locating the elements as required*/

.contact-heading h1{
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    font-size: 2rem;
    text-align: center;
}
/* Styling for the .contact-heading h1 */

.contact-us{
    max-width: 700rem; 
    /* margin: auto; */
    margin-top: 3rem;
    margin-left: 3rem;

}
/* Spacing and sizing for the .contact-us section */

.contact-us label{
    display: block; 
    margin-bottom: 5px;
    font-family: var(--font-family-3);
    color: var(--custom-color-5);
    font-weight: 600;
    font-size: 1.5rem;
}
/* Styling and sizing for the .contact-us label */

.contact-us input{ 

    width: 100%; 
    padding: .4rem; 
    margin-bottom: 10px;
    box-sizing: border-box;
    border-style: none;
}
/* Styling and sizing for the .contact-us input */

.contact-us textarea{
    width: 100%;
    padding: 3.5rem;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-style: none;
}
/* sizing for the .contact-us text-area */

.contact-us button {
    background-color: var(--custom-color-3); /* Set the background color for the button */
    color: var(--custom-color-5); /* Set the text color for the button */
    padding: 14px 30px; /* Add padding to the button */
    border: none; /* Remove the default button border */
    border-radius: 50px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 1rem;
}
/* styling the button */

.contact-us form{
    width: 30rem;
}
/* sizing the form width */

.chat-with-us h2{
    font-family: var(--font-family-3);
    font-size: 2rem;
    color: var(--custom-color-5);
}
/* Styling for the .chat-with-us h2 */

.chat-with-us{
    align-self: center;
    justify-self:center;
    margin-bottom: 9rem;
}
/* placing the image */

.chat-with-us img{
    cursor: pointer;
}

#stores h1{
    font-family: var(--font-family-3);
    font-size: 1.5rem;
    color: var(--custom-color-5);
    text-align: center;
    padding-top: 2rem;
}
/* styling the h1 of the section */

.store-display{
    display: flex;
}
/* displaying flex for placing the elements as required */

.location-map iframe{
    margin: 3rem;
    border-radius: 2rem;
}
/* sizing the iframe width */

.store-list-icons li{
    list-style-type: none;
    padding: .5rem;
    margin-top: 3.9rem;
}
/* styling and spacing the elements of the list */

.store-list-icons img{
    width: 2rem;
}
/* sizing image */

.stores-list{
    margin-top: 3.7rem;
}
/* spacing the image */

.stores-list li{
    list-style-type: none;
    padding-bottom: 5.6rem;
    /* margin-top: 4rem; */
    font-size: 1rem;
}
/* styling and spacing the content */

.stores-list li a{
    text-decoration: none;
    font-family: var(--font-family-3);
    color:var(--custom-color-5);
    font-size: 1.3rem;
    font-weight: 600;
}
/* styling the content */

/* ---------------------------------------MEDIA QUERIES---------------------------------------------------- */

@media screen and (max-width: 425px){
    .announcement-bar{
        display:none;
    }
    /* hide the .announcement-bar */
    #navbar{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: space-around;
    }
    /* displaying the elements as required */

    .logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    /* sizing the elements in the grid */
    .nav-links{
        grid-column: 1/3;
        grid-row: 2/3;
        align-self:center;
        justify-self:center;
        margin-top: 2.3rem;
        background-color: var(--custom-color-3);
        margin: 0 auto;
    }
    /* styling and sizing the elements in the link */
    .icons{
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/3;
        align-self:flex-start;
        justify-self:self-end;
    }
    /* sizing and locating the icons in the navbar */

    .logo img{
        width: 6rem;
        height: 6rem;
    }
    /* sizing the image */

    #navbar-links a{
        font-size:1.2rem;
        text-align: center;
        color: var(--custom-color-5);
    }
    /* styling in the links */


    .icons img{
        width: 1.6rem;
        height: 1.6rem;
    }
    /* sizing the image */

    .header-heading h1{
        font-size: 1em;
        align-self: flex-start;
    }
    /* sizing the heading  */

    .header-heading{
        margin: 0;
        margin-top: 1em;
    }
    /* spacing the heading */

    picture{
        display: block;
        margin-top: 1rem;
    }
    /* displaying the responsive images */

    .header-banner{
        display: none;
    }
    /* hiding the fixed size image */

    .shop-heading h1{
        font-size: 1em;
    }
    /* sizing the font size */

    .shop-content img{
        width: 5em;
        height: 6em;
    }
    /* sizing the image */

    .card-name td{
        font-size: .7em;
        padding: 0;
    }
    /* spacing the data element */

    .card-price td{
        font-size: .7em;
        padding: 0;
    }
    /* spacing the data element */

    td{
        padding: 1em;
    }
    /* spacing the data element */

    .button-container button{
        font-size: .7em;
        padding-left: 1.8em;
        padding-right: 1.8em;
        padding-top: .5em;
        padding-bottom: .5em;
        margin-top: 1rem;
    }
    /* spacing and sizing the button */

    #customer h1{
        font-size: 1em;
    }
    /* sizing the font */

    
    .customer-comment{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    /* locating the element as required */

    .customer-image img{
        width: 14em;
        height: 9em;
    }
    /* sizing the image*/

    .left-arrow img{
        width: 1.5em;
        height: 1.4em;
    }
    /* sizing the image */

    .right-arrow img{
        width: 1.5em;
        height: 1.4em;
    }
    /* sizing the image */

    .footer-container{
        display: grid;
        grid-template-columns:90px 90px 90px 140px;
        grid-template-rows: repeat(2,140px);
        justify-items: stretch;
        align-content: stretch;
        justify-content:start;
        align-items: start;
    }
    /* displaying the elements of footer as required */

    .list-1{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 1rem;
    }
    /* spacing and locating the elemens as required */

    .list-2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    /* spacing and locating the elemens as required */

    .social-media{
        grid-column: 1/5;
        grid-row: 2/3;
    }
    /* spacing and locating the elemens as required */


    .footer-icons{
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0;
        margin-top: .5em;
    }
    /* spacing and locating the elemens as required */

    .footer-content{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    /* spacing and locating the elemens as required */

    .footer-icons img{
        width: 1.3em;
        margin: 0;
    }
    /* sizing the image */

    .list-1 li{
        font-size: .5em;
    }
    /* sizing the font size of the footer content: ; */

    .list-2 li{
        font-size: .5em;
    }
    /* sizing the font size of the footer content: ; */

    .footer-content li{
        font-size: .1em;
    }
    /* sizing the font size of the footer content: ; */
    .footer-content ul{
        padding: 0;
        margin: 0;
        margin-top: 1.3em;
    }
    /* spacing the elements of the footer content: ; */
    
    .footer-content ul li{
        margin: 0;
        padding: 0;
        padding-bottom: 1.7rem;
        align-self: self-start;
        margin-right: 3.9rem;
    }
    /* sizing the elements of the footer content: ; */

    .social-media img{
        width: 1.4em;
        height: 1.4em;
    }
    /* sizing the image */

    .social-media{
        margin: 0;
        padding: 0;
        margin-left: 1.7em;
    }
    /* sizing and spacing the image */

    .copyright{
        padding-left: 10.5rem;
    }
    /* spacing the element of copyright */

    /* ---------------------------------------ABOUT----------------------------------------------------- */
    #our-story h1{
        font-size: 2em;
    }
    /* sizing the font */
    #our-story p{
        font-size: .5em;
        margin: 0;
        text-align: center;
    }
    /* sizing and spacing the content*/

    #blog h1{
        font-size: 2em;
    }
    /* sizing the font */

    h2{
        font-size: 1em;
    }
    /* sizing the font*/

    picture{
        display: block;
    }
    /* displaying the responsive image */

    #our-story img{
        display: none;
    }
    /* hiding the fix size image */

    #blog img{
        display: none;
    }
    /* hiding the fix size image */

    /* -------------------------------------contact------------------------------------------------- */
    .contact-heading h1{
        font-family: var(--font-family-3);
        color: var(--custom-color-5);
        font-size: 1.6  em;
        text-align: center;
    }
    /* sizing and spacing the font */

    .contact-box{
        width: 20rem;
        height: 15rem;
        grid-template-columns: repeat(2,160px);
    }
    /* sizing and locating the elements as required */

    .contact-us label{
        display: block; 
        margin-bottom: 5px;
        font-family: var(--font-family-3);
        color: var(--custom-color-5);
        font-weight: 600;
        font-size: .6em;
    }
    /* styling the elements of contact */
    .contact-us input{ 
        padding: .03em;
        margin-bottom: 10px;
        box-sizing: border-box; 
        border-style: none;
        width: 10em;
    }
    /* styling and spacing the input boxes */

    .contact-us{
        margin: 0;
    }


    .contact-us textarea{
        width: 10em;
        padding: .7rem;
        margin-bottom: 10px;
        box-sizing: border-box;
        border-style: none;
    }
    /* styling and spacing the textarea boxes */

    .contact-us button {
        background-color: var(--custom-color-3); /* Set the background color for the button */
        color: var(--custom-color-5); /* Set the text color for the button */
        padding: 12px 8px; /* Add padding to the button */
        border: none; /* Remove the default button border */
        border-radius: 50px; /* Add border-radius for rounded corners */
        cursor: pointer; /* Change cursor to a pointer on hover */
        font-size: .4em;
        align-self:end;
    }
    /* styling and spacing the button */

    .chat-with-us h2{
        font-family: var(--font-family-3);
        font-size: 1rem;
        color: var(--custom-color-5);
    }
    /* sizing and styling the font */

    .chat-with-us img{
        width: 3.8em;
        height: 4.8em;
        margin-left: 2em;
    }
    /* sizing and spacing the font */

    .stores h1{
        font-family: var(--font-family-3);
        font-size: 1rem;
        color: var(--custom-color-5);
        text-align: center;
        padding-top: 2rem;
    }
    /* styling and spacing the heading */

    .location-map iframe{
        margin: 1rem;
        border-radius: 1rem;
        width: 16rem;
        height: 15rem;
    }
    /* sizing and spacing the iframe */

    .store-list-icons li{
        list-style-type: none;
        padding:0;
        margin-right: 2em;
        padding-bottom: 2.5em;
    }
    /* styling the list elements  */

    .store-list-icons ul{
        padding: 0;
        margin-top: 2em;
    }
    /* spacing the list elements */

    .store-list-icons ul li{
        margin: 0;
    }


    .store-list-icons img{
        width: 1rem;
    }
    /* sizing the image */
    .stores-list{
        margin-top: 1.8em;
    }
    /* spacing the element */

    .stores-list li{
        list-style-type: none;
        padding-bottom: 2.7rem;
        /* margin-top: 4rem; */
        font-size: 1em;
    }
    /* styling the list elements */

    .stores-list ul{
        padding: 0;
        margin-left: 1em;
        margin-top: 0;
    }
    /* spacing the elements  */
    
    .stores-list li a{
        text-decoration: none;
        font-family: var(--font-family-3);
        color:var(--custom-color-5);
        font-size: .6rem;
        font-weight: 600;
    }
    /* styling and sizing the content */
}